/* src/pages/Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(83, 27, 27), #01172f);
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  color: #3a1919;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form label {
  margin-bottom: 10px;
  color: #3a1919;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  transition: background-color 0.2s, border 0.2s;
}

.login-form input:focus {
  background-color: #fff;
  border: 1px solid red;
  outline: none;
}

.login-form button {
  margin-top: 10px;
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(255, 100, 100);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.login-form button:active {
  background-color: rgb(188, 46, 46);
  transform: scale(0.9);
}

.signup-link {
  margin-top: 10px;
  text-align: center;
}

.signup-link a {
  color: rgb(255, 100, 100);
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:active {
  color: darkred;
}
